@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-white;
  }
}

@layer utilities {
  .animate-on-scroll {
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.7s ease-out;
  }
  
  .animate-on-scroll.show {
    opacity: 1;
    transform: translateY(0);
  }

  .animate-gradient-text {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-purple-400 via-pink-600 to-purple-400 bg-300% animate-gradient;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-gradient {
    animation: gradient 8s ease infinite;
  }

  .bg-300\% {
    background-size: 300% 300%;
  }

  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-900;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-purple-900 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-purple-800;
  }

  .animate-button {
    background: linear-gradient(to left, #a207a8, #b110f7, #b2042d);
    background-size: 200% 200%;
    animation: gradient 5s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .loading-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loading-animation::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid #ccc;
    border-top-color: #333;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }
}
